{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
<h1>Actor</h1>

<strong>{{ actor.name }} :</strong>
<ul>
    {% for program in actor.programs %}
        <li>
                <a href="{{ path('program_show', {'id':program.id}) }}">{{ program.title }}</a>
        </li>
    {% else %}
        <li>pas de serie trouver pour cet acteur</li>
    {% endfor %}
</ul>

{% endblock %}
